* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html,
body {
  /*.........................
  ==> unwanted scroll bar
  width: 100%;
  height: 100%;
  ...........................*/
  background-color: #f4f4f9;
}

/* ======= main container ======== */
main{
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}